<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185808410444-75ontbrg0u8j84j5us18lvl3ddcnknu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185808410444-75ontbrg0u8j84j5us18lvl3ddcnknu6</string>
	<key>API_KEY</key>
	<string>AIzaSyDFi8nZ2J2DWw6XLfsNyuUM6TXYl2C7gFo</string>
	<key>GCM_SENDER_ID</key>
	<string>185808410444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malbanez.cicdios</string>
	<key>PROJECT_ID</key>
	<string>cicd-dev-576bc</string>
	<key>STORAGE_BUCKET</key>
	<string>cicd-dev-576bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185808410444:ios:8261459fe8a090c61821e9</string>
</dict>
</plist>