<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294918491288-f79ijnoaga1ds1qf6a577g2pta9h9ahc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294918491288-f79ijnoaga1ds1qf6a577g2pta9h9ahc</string>
	<key>API_KEY</key>
	<string>AIzaSyAczQ93RqQiJW4Qi32Oa3Kl1_t4RoFEhkU</string>
	<key>GCM_SENDER_ID</key>
	<string>294918491288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malbanez.cicdios</string>
	<key>PROJECT_ID</key>
	<string>cicd-prod-fc97a</string>
	<key>STORAGE_BUCKET</key>
	<string>cicd-prod-fc97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294918491288:ios:29b6f786b81a3a4fccd4ed</string>
</dict>
</plist>